/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*changes font color */
	color: #f2f2f2; 
	/* default font */
	font-family: 'Open Sans', sans-serif;
}

/* target the html element called body */
/* start body */

body {
	background-color: white;
	background-image: linear-gradient(rgba(128, 128, 128, 0.50), rgba(112, 128,144,0.70)),url('../images/bg.jpg');
	background-size: cover; /* to ensure image doesn't show as actual size, like cover image regardless of vh value below */
	background-repeat: no-repeat; /* if image is small, bg will be tiled, so use this to no repeat */
	background-position: center; /* to indicate placement of background */
	/* viewport height */
	height: 100vh; /* height of user's screen that visits website, if 100 means occupy 100 percent of user's view screen; makes background look responsive */
}

.container {
	width: 500px;
	margin: 0 auto; /* auto means center element horizontally; good practice is to have div containers in index.html */
	text-align: center;
}

/* end body */

/* start h1*/
h1 {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333;
	font-family: 'Cabin', sans-serif;
	border-radius: 10px;
}
/* end h1 */

/* start h2 */
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	font-family: 'Cabin', sans-serif;

	/*padding vs margin */
	margin: 10px; /*add space outside of element */
	padding: 10px; /* add space inside element */
}
/* end h2 */

/* target class=bio */
.bio {
	font-size: 18px;
	background-color: rgba(51, 51, 51,.9);
	/* opacity: 0.8; /* opacity of element itself, including text */
	line-height: 1.75; /* spacing between elements, multiplied to the current height */
	border-radius: 10px;
	padding: 5px;
}
/* end bio */


/*to target ID */
#me {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	border-color: rbga(51, 51, 41, .8);
	border-width: 7px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
	background-color: rgba(51, 51, 41, .80);
}



/* end of target ID */




